!wp-content/uploads/.htaccess
**/composer.lock
**/node_modules/**
**/npm-debug.log
**/static-site/
# causes problems !!!!!
#**/vendor/**
*.css.gz
*.css.map
*.css.map.gz
*.js.gz
*.js.map
*.js.map.gz
*.sw[nop]
*.avi
*.flv
*.mov
*.mp3
*.mp4
*.tar
*.tgz
*.wmv
*.zip
*~
.#*
.DS_Store
.closed
.htaccess
.project
.sass-cache
README.dbs.txt
Thumbs.db
[#]*#
__MACOSX
cache/**
php_errors.log
tmp/**
var/cache/*
wc-logs/*
wp-content/cache/*
wp-content/plugins/dbs-bwp-minify/cache/*
wp-content/themes/**/docs
wp-content/themes/**/library/css/*
wp-content/themes/**/library/icons/dist/*
wp-content/themes/**/library/js/*.min.js
wp-content/themes/**/library/js/global.js
wp-content/themes/**/library/js/js.hash
wp-content/themes/**/library/js/**/*-[0-9]*.min.js
wp-content/themes/**/node_modules
wp-content/uploads/*
wp-content/uploads/wc-logs/*
/local.php
.running_*
.sass_env.js
!.dbs/.sass_env.js
